.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;


  .login-page__h2 {
    font-family: 'Playfair Display', sans-serif;
    margin: 35px 0;
    letter-spacing: 2px;

  }

  .login-img {
    position: absolute;
    content: "";
    width: 800px;
    height: 400px;
    top: 120%;
    background-image: url("../../assets/img/bg4.png");
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width: 800px) {
      width: 600px;
      background-size: contain;
    }

  }


}


